/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html, body, div{
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  font-family: "Open Sans", sans-serif;
/*  padding: 5px 25px;*/
  font-size: 18px;
  margin: 0;
  color: #444;
}


.title{
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;

  /* 
  overflow: auto
  */
  background-color: grey;
  color: blue

}

.h2 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 3px;
  padding-left: 10px;
  color: black; 
}

.signature{

  font-family: "Merriweather", serif;
  text-align: right;
  color: blue;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
}



}

.img1 {
  width: 100%;
  /*  float: right;*/
  background-color: grey;
  margin: 0px 0px 0px 0px; 

}

.img1 img{
  width: 100%;
  
}

.img2 {
  display: flex;
/*
  margin-left: 50px; 
  margin-right: 50px; 
  padding left: 10px; 
  padding right: 10px; 
*/

  /*
  width: 150px;
  height: 75px;
  margin: 10px;
  border: 3px solid #73AD21;  

  */
}

.portbox {
  width: 30%;
  margin: 8px auto;
  background: grey;
  
  
}

.pic1{
  margin: 10px 10px 10px 10px; 


}

.pic1 img{
  
/*  height: 100%;*/
/*  width: 100%; */
}

.text p{
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 5%;
  color: black;
  font-size: 15px;
  
}

/*
.pic2{
  margin: 10px 10px 10px 10px; 

}
*/

.container {
  display: flex;
  background: black;
  margin: 1% 5% 1% 5%;
  
}

.link{
  text-align: right;
  margin-right: 5%;
  text-align: bottom;
}

.link a{
  color: black;
  text-decoration: none;
  text-align: bottom;
  
/*  margin-right: auto*/
}
  





